html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

a {
    text-underline-position: under;
}

h1, h2, h3 {
    padding-bottom: 0.5em;
    position: sticky;
    top: 0;
    outline-color: white;
    outline-width: 1px;
    outline-style: solid;
    background: linear-gradient(90deg, #ffffff 1rem, #ffffff73 12rem, #ffffff calc(100% - 1rem));
    backdrop-filter: blur(10rem) grayscale(0.95);
}

.cg-faq-answer-img {
    width: 100%;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(255 255 255);
    display: flex;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 1px solid rgb(0 0 0 / 12%);
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
}

    footer a {
        margin: 8px;
        font-size: 12px;
        -ms-transition: background-color 0.4s;
        -o-transition: background-color 0.4s;
        -webkit-transition: background-color 0.4s;
        transition: background-color 0.4s;
        line-height: 1.5em;
        padding: 8px 16px;
        -ms-border-radius: 4px;
        border-radius: 4px;
    }

.cg-faq-main-docs {
    display: flex;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    padding-right: 2em;
    padding-left: 2em;
}

.cg-faq-content {
    gap: 2em;
    margin-top: 2em;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.cg-faq-article {
    line-height: 1.5;
}

.cg-faq-answer-content {
    word-break: break-word;
    white-space: pre-wrap;
}

.cg-embedded {
    --cr-embedded-width: min(100vw - 32px, 1200px);
    width: var(--cr-embedded-width);
    height: calc(var(--cr-embedded-width) * 315 / 560);
}
