:root {
    overflow-y: auto;
    text-size-adjust: none;
    --cg-title-space: 32px;
    --cg-primary-color: rgb(43 43 81);
    --yp-content-padding: 0 2rem;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    font: 400 1rem / 1.5rem "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    line-height: 1.5;
}

a {
    text-underline-position: under;
}

.cg-faq-answer-img {
    width: 100%;
}

footer {
    width: 100%;
    display: flex;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 1px solid rgb(0 0 0 / 12%);
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

    footer a {
        margin: 0.5rem;
        font-size: 12px;
        -ms-transition: background-color 0.4s;
        -o-transition: background-color 0.4s;
        -webkit-transition: background-color 0.4s;
        transition: background-color 0.4s;
        line-height: 1.5;
        padding: 0.5rem 1rem;
        -ms-border-radius: 0.25rem;
        border-radius: 0.25rem;
    }

.cg-faq-answer-content {
    word-break: break-word;
    white-space: pre-wrap;
}

main {
    display: flex;
    flex-direction: column;
}

header a {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
}

.yp-content-section {
    padding: var(--yp-content-padding);
}

.yp-homepage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f5f9fc;
    position: relative;
}

.yp-homepage-header__backgroud {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    filter: contrast(344%) brightness(65%);
    --cg-color-1: rgb(0 74 255 / 70%);
    --cg-color-2: rgb(8 104 154 / 92%);
    background: linear-gradient(90deg, var(--cg-color-1), var(--cg-color-2)), url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asvgjs%3D%22http%3A%2F%2Fsvgjs.dev%2Fsvgjs%22%20viewBox%3D%220%200%20700%20700%22%20width%3D%22700%22%20height%3D%22700%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3ClinearGradient%20gradientTransform%3D%22rotate%28-150%2C%200.5%2C%200.5%29%22%20x1%3D%2250%25%22%20y1%3D%220%25%22%20x2%3D%2250%25%22%20y2%3D%22100%25%22%20id%3D%22gggrain-gradient2%22%3E%3Cstop%20stop-color%3D%22hsl%28240%2C%20100%25%2C%2046%25%29%22%20stop-opacity%3D%221%22%20offset%3D%22-0%25%22%3E%3C%2Fstop%3E%3Cstop%20stop-color%3D%22rgba%28255%2C255%2C255%2C0%29%22%20stop-opacity%3D%220%22%20offset%3D%22100%25%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%0A%20%20%20%20%3ClinearGradient%20gradientTransform%3D%22rotate%28150%2C%200.5%2C%200.5%29%22%20x1%3D%2250%25%22%20y1%3D%220%25%22%20x2%3D%2250%25%22%20y2%3D%22100%25%22%20id%3D%22gggrain-gradient3%22%3E%3Cstop%20stop-color%3D%22hsl%28240%2C%20100%25%2C%2046%25%29%22%20stop-opacity%3D%221%22%3E%3C%2Fstop%3E%3Cstop%20stop-color%3D%22rgba%28255%2C255%2C255%2C0%29%22%20stop-opacity%3D%220%22%20offset%3D%22100%25%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%0A%20%20%20%20%3Cfilter%20id%3D%22gggrain-filter%22%20x%3D%22-20%25%22%20y%3D%22-20%25%22%20width%3D%22140%25%22%20height%3D%22140%25%22%20filterUnits%3D%22objectBoundingBox%22%20primitiveUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%20%20%20%20%20%20%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.69%22%20numOctaves%3D%222%22%20seed%3D%222%22%20stitchTiles%3D%22stitch%22%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20result%3D%22turbulence%22%3E%3C%2FfeTurbulence%3E%0A%20%20%20%20%20%20%3CfeColorMatrix%20type%3D%22saturate%22%20values%3D%220%22%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20in%3D%22turbulence%22%20result%3D%22colormatrix%22%3E%3C%2FfeColorMatrix%3E%0A%20%20%20%20%20%20%3CfeComponentTransfer%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20in%3D%22colormatrix%22%20result%3D%22componentTransfer%22%3E%0A%20%20%20%20%20%20%20%20%3CfeFuncR%20type%3D%22linear%22%20slope%3D%223%22%3E%3C%2FfeFuncR%3E%0A%20%20%20%20%20%20%20%20%3CfeFuncG%20type%3D%22linear%22%20slope%3D%223%22%3E%3C%2FfeFuncG%3E%0A%20%20%20%20%20%20%20%20%3CfeFuncB%20type%3D%22linear%22%20slope%3D%223%22%3E%3C%2FfeFuncB%3E%0A%20%20%20%20%20%20%3C%2FfeComponentTransfer%3E%0A%20%20%20%20%20%20%3CfeColorMatrix%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20in%3D%22componentTransfer%22%20result%3D%22colormatrix2%22%20type%3D%22matrix%22%20values%3D%221%200%200%200%200%0A%20%20%20%20%20%20%20%20%20%200%201%200%200%200%0A%20%20%20%20%20%20%20%20%20%200%200%201%200%200%0A%20%20%20%20%20%20%20%20%20%200%200%200%2019%20-11%22%3E%3C%2FfeColorMatrix%3E%0A%20%20%20%20%3C%2Ffilter%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cg%3E%0A%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22hsl%28240%2C%20100%25%2C%2046%25%29%22%3E%3C%2Frect%3E%0A%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url%28%23gggrain-gradient3%29%22%3E%3C%2Frect%3E%0A%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url%28%23gggrain-gradient2%29%22%3E%3C%2Frect%3E%0A%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22transparent%22%20filter%3D%22url%28%23gggrain-filter%29%22%20opacity%3D%221%22%20style%3D%22mix-blend-mode%3A%20normal%22%3E%3C%2Frect%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}

.yp-homepage-title {
    font-family: "Kavoon";
    font-size: min(6vw, 3.25rem);
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
    text-align: center;
    color: rgb(255 255 255 / 86%);
    margin-top: var(--cg-title-space);
}

.yp-homepage-definition {
    margin: 0;
    text-align: center;
    color: rgb(255 255 255 / 82%);
}

.yp-homepage-section {
    padding-top: 1rem;
    flex: 1;
    color: var(--cg-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yp-homepage-section__content {
    max-width: 787px;
}

.cg-question {
    display: block;
    color: var(--cg-primary-color);
}

.yp-homepage-capabily-description {
    color: rgb(112 135 161);
    font-style: italic;
}

.yp-homepage-header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--cg-title-space);
}

.cg-advice {
    --cg-stores-space: calc(var(--cg-title-space) * 0.75);
    margin: var(--cg-stores-space);
}

.yp-homepage-stores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.yp-homepage-store {
    margin: calc(var(--cg-title-space) - var(--cg-stores-space));
    min-width: 150px;
    color: #030b71;
    background: linear-gradient(90deg, #ffffff 0%, #efefff 50%, #94a1ff) no-repeat;
    background-position-x: right;
    -ms-background-size: 200%;
    background-size: 200%;
    transition: all 0.5s;
}

    .yp-homepage-store:hover {
        color: #000000;
        background-position-x: left;
    }

.cg-embedded {
    --cr-embedded-width: min(100vw - 32px, 770px);
    width: var(--cr-embedded-width);
    height: calc(var(--cr-embedded-width) * 315 / 560);
}

h2 {
    position: sticky;
    top: 0;
    background: linear-gradient(90deg, #ffffff 1rem, #ffffff73 12rem, #ffffff calc(100% - 1rem));
    backdrop-filter: blur(10rem) grayscale(0.95);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

ol {
    margin: 0;
}

section {
    margin-bottom: 1rem;
}
